@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.btn-bg {
  border-radius: 70px;
  background: #2f80ed,
    linear-gradient(180deg, #96f 0%, #6378ff 33.12%, #09f 100%);
}
