@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-bg {
  border-radius: 70px;
  background: #2f80ed,
    linear-gradient(180deg, #96f 0%, #6378ff 33.12%, #09f 100%);
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
